{{!< default}}

{{#post}}

<div class="color-block color-block-1"></div>
<div class="color-block color-block-2"></div>

<div id="content" class="page">
    {{#match @page.show_title_and_feature_image}}
    <div class="page-header">
        <div class="page-image-wrapper">
            <img class="page-img" src="{{feature_image}}">
        </div>
    </div>
    {{/match}}
    <div class="page-intro top">
        <div class="page-tag">
            {{#primary_tag}}
            <h3 class="tag-text">
                <a href="{{url}}">{{name}}</a>
            </h3>
            {{/primary_tag}}
        </div>
    </div>
    {{#match @page.show_title_and_feature_image}}
    <div class="page-title">
        <h1 class="page-title-text">{{title}}</h1>
    </div>
    {{/match}}

    <div class="page-text-wrapper">
        {{content}}
    </div>
</div>


{{/post}}